.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Isso fará com que o container ocupe toda a altura da tela */
     /* Isso adicionará uma borda preta ao redor do container */
}

img {
    width: 600px;
    height: 600px;
    margin-right: 10px;
    border: 5px solid #000;
}

.image-wrapper {
    position: relative;
}

.pista-div {
    position: absolute;
    top: 52%;
    left: 24%;
    bottom: 50%;
    right: 40%;
    transform: translate(-50%, -50%);
    max-width: calc(8 * 40px);
}

.frontstage-div {
    position: absolute;
    top: 49%;
    left: 64%;
    bottom: 58%;
    right: 24%;
    transform: translate(-50%, -50%);
}

.pista-div {
    width: 300px; /* Ajuste para o tamanho desejado */
    height: 430px; /* Ajuste para o tamanho desejado */
    border: 3px solid #fff; /* Bordas brancas */
    background-color: rgba(103, 2, 120, 0.4); /* Fundo roxo claro com 40% de transparência */
}
.frontstage-div {
    width: 195px; /* Ajuste para o tamanho desejado */
    height: 396px; /* Ajuste para o tamanho desejado */
    border: 3px solid #fff; /* Bordas brancas */
    background-color: rgba(9, 25, 147, 0.4); /* Fundo roxo claro com 40% de transparência */
}
.pista-div, .frontstage-div {
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Adicione border-color à transição */
    
}

.pista-div:hover{
    transform: translate(-50%, -50%) scale(1.05);
    cursor: pointer;
    border-color: rgba(103, 2, 120, 0.4); /* Fundo roxo claro com 40% de transparência */
}

.frontstage-div:hover {
    transform: translate(-50%, -50%) scale(1.05);
    cursor: pointer;
    border-color: rgba(9, 25, 147, 0.4); /* Fundo roxo claro com 40% de transparência */
}
